* {
    box-sizing: border-box;
    font-family: 'Staatliches', sans-serif;
    margin: 0 auto;
    padding: 0;
}

body {
    background: #F0E6F8;
}

body::before {
    content: "";
    height: 465px;
    width: 100%;

    position: absolute;
    background: #3C2941;
    z-index: -1;
}

#page {
    
    width: 750px;
}

#page header {
    align-items: center;
    justify-content: center;

    color: #ffffff;
}

header h1 {
    font-size: 36px;
    line-height: 45px;
    text-align: center;

    padding-top: 107px;
}

header p {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    line-height: 46px;
    vertical-align: top; 
    text-align: center;
    
}

header img {
    display: flex;
    align-items: center;
}